// ----------------------------------------------
//		common
// ----------------------------------------------
body {
  font-size: 14px;
  font-family: Roboto, -apple-system, system-ui, sans-serif;
  color: $text-color;
  // background-color: #E5E5E5;
  min-width: 320px;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

// (:hover, :focus, :active).
// https://codepen.io/yurch-html/pen/qyaOZz
.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.25s ease;

  &:link {
  }
  &:visited {
  }
  &:hover {
    color: $accent-color;
  }
  &:active {
    color: $accent-color;
  }
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.container {
  max-width: 746px;
  margin: 0 auto;

  // @media only screen and (max-width: 1200px) {
  //   max-width: 970px;
  // }
  // @media only screen and (max-width: 992px) {
  //   max-width: 750px;
  // }
  @media only screen and (max-width: 768px) {
    // max-width: 540px;
    padding: 0 15px;
  }
  @media only screen and (max-width: 480px) {
    // max-width: none;
    padding: 0 5px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}