.content {
  display: flex;
  margin-top: 150px;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 2px 20px #f3f3f3;
  overflow: hidden;
}

.sidebar {
  padding: 60px 20px 160px 20px;
  background-color: #f4f6f8;
  border-right: 1px solid #f1f1f1;
  width: 200px;

  &__title {
    margin-bottom: 28px;

    &::before {
      color: #7C7C7C;
      opacity: .7;
    }
  }
  &__folders-list {
    margin-bottom: 35px;
  }
  &__folder-item {
    position: relative;
    padding: 12px 5px 12px 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 160px;
    cursor: pointer;

    &_active {
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    }
  }
  &__folder-badge {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -5px;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;

    &_grey {
      background-color: #c9d1d3;
    }
    &_green {
      background-color: #42b883;
    }
    &_blue {
      background-color: #64c4ed;
    }
    &_pink {
      background-color: #ffbbcc;
    }
    &_lime {
      background-color: #b6e6bd;
    }
    &_purple {
      background-color: #c355f5;
    }
    &_black {
      background-color: #110133;
    }
    &_red {
      background-color: #ff6464;
    }
  }
  &__folder-text {
  }
  &__button {
    color: #767676;
  }
}

.tasks {
  padding: 55px;

  &__title {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: $accent-color;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
    margin-bottom: 35px;

    &::before {
      position: absolute;
      left: 180px;
      font-size: 20px;
      color: #DFDFDF;
      top: 12px;
    }
  }
  &__list {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  &__item {
    position: relative;
    margin-bottom: 20px;

    &::before {
      position: absolute;
      right: 0;
      top: 0;
      color: #E3E3E3;
      opacity: 0;
    }

    &:hover  {
      &::before {
        opacity: 1;
      }
    }
  }

  &__input {
    /* стили при наведении курсора на checkbox */
    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: #f2f2f2;
      background-color: #f2f2f2;
    }

    /* стили для активного чекбокса (при нажатии на него) */
    &:not(:disabled):active + label::before {
      // background-color: transparent;
      // border-color: #b3d7ff;
    }
    /* стили для чекбокса, находящегося в фокусе */
    &:focus + label::before {
      // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    &:focus:not(:checked) + label::before {
      // border-color: #80bdff;
    }
    /* стили для чекбокса, находящегося в состоянии checked */
    &:checked + label::before {
      border-color: #4DD599;
      background-color: #4DD599;
      // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    &:disabled + label::before {
      background-color: #e9ecef;
    }
  }
  &__label {
    cursor: pointer;

    &::before {
      // content: '';
      font-size: 12px;
      color: #fff;
      display: inline-block;
      padding-top: 2px;
      position: relative;
      top: 0px;
      left: 0;
      width: 20px;
      height: 20px;
      margin-right: 11px;
      border-radius: 50%;
      border: 2px solid #e8e8e8;
    }
  }

  &__add-btn {
    color: #767676;
  }
}
