// ----------- Roboto -----------
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('RobotoRegular'),
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('RobotoMedium'),
    url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('RobotoBold'),
    url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ----------- Monsterrat -----------
@font-face {
  font-family: 'Monsterrat';
  src: local('Monsterrat Regular'), local('MonsterratRegular'),
    url('../fonts/Monsterrat/Monsterrat-Regular.woff2') format('woff2'),
    url('../fonts/Monsterrat/Monsterrat-Regular.woff') format('woff'),
    url('../fonts/Monsterrat/Monsterrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monsterrat';
  src: local('Monsterrat Medium'), local('MonsterratMedium'),
    url('../fonts/Monsterrat/Monsterrat-Medium.woff2') format('woff2'),
    url('../fonts/Monsterrat/Monsterrat-Medium.woff') format('woff'),
    url('../fonts/Monsterrat/Monsterrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monsterrat';
  src: local('Monsterrat Bold'), local('MonsterratBold'),
    url('../fonts/Monsterrat/Monsterrat-Bold.woff2') format('woff2'),
    url('../fonts/Monsterrat/Monsterrat-Bold.woff') format('woff'),
    url('../fonts/Monsterrat/Monsterrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ----------- Lato -----------
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('LatoRegular'),
    url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('LatoBold'),
    url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
